div {
	width: 100%;
	display: block;
	page-break-after: always;
	margin-top: 1em;
}

div:first-of-type {
	margin-top: 0px;
}

table {
	margin-top: 1em;
	width: 100%;
}

h2:first-of-type {
	margin-top: 0px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: .2em 0em;
	text-align: center;
}

.empty, .empty th, .empty td {
	border: none;
}

.strong {
	font-weight: bold;
}

.u {
	text-decoration: underline;
}

p {
	text-align: justify;
}

/* Colors
th {
	background-color: #EEEEEE;
}
.red {
	color: red;
}
.blue {
	color: blue;
}
h1 {
	color: green;
}
*/
